body { font-family: Arial, sans-serif; text-align: center; }
input, textarea { width: 50%; margin: 5px; padding: 10px; }
button { padding: 10px 20px; background: blue; color: white; border: none; cursor: pointer; border-radius: 10px;}
